@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700;900&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  font-size: 250px;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}

.text::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  height: 100%;
  color: #ffffff;
  -webkit-text-stroke: 0px transparent;
  overflow: hidden;
  transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text:hover::before {
  width: 100%;
}
