@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700;900&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #25242b;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-size: 20vh;
  font-weight: 800;
  background: url("https://images.pexels.com/photos/17131288/pexels-photo-17131288/free-photo-of-antelope-canyon-paths.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 8s linear infinite;
}

@keyframes animate {
  from {
    background-position: center 200%;
  }
  to {
    background-position: center 0;
  }
}
