@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

/* TODO: BODY Set */
/* set the font family to Muli */
/* center every */
/* background-color */
/* why do we need to set body height: 100vh? */

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* center all the text of the container */
.container {
  text-align: center;
}

/* set all the item to flex box */
/* space-between all of the box */
/* set position; margin-bottom; max-width; width */

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* set progress line */
/* set background; position; top; left; height; width; z-index */

.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  height: 40px;
  width: 50%;
}
